.chartLine {
  width: 750px !important;
  height: 500px !important;
  padding: 10px;
}

select {
  margin: 0px;
  background: #7610C6;
  color: #FFFFFF;
  border: none;
}

.input-group-text {
  color: #FFFFFF;
  background-color: #7610C6;
  border: none;
}

.input-group {
  width: 180px;
}

select:focus {
  box-shadow: none;
}


.form-select {
  --bs-form-select-bg-img: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnN2Z2pzPSJodHRwOi8vc3ZnanMuY29tL3N2Z2pzIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDQ1MS44NDcgNDUxLjg0NyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTEyIDUxMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgY2xhc3M9IiI+PGc+PHBhdGggZD0iTTIyNS45MjMgMzU0LjcwNmMtOC4wOTggMC0xNi4xOTUtMy4wOTItMjIuMzY5LTkuMjYzTDkuMjcgMTUxLjE1N2MtMTIuMzU5LTEyLjM1OS0xMi4zNTktMzIuMzk3IDAtNDQuNzUxIDEyLjM1NC0xMi4zNTQgMzIuMzg4LTEyLjM1NCA0NC43NDggMGwxNzEuOTA1IDE3MS45MTUgMTcxLjkwNi0xNzEuOTA5YzEyLjM1OS0xMi4zNTQgMzIuMzkxLTEyLjM1NCA0NC43NDQgMCAxMi4zNjUgMTIuMzU0IDEyLjM2NSAzMi4zOTIgMCA0NC43NTFMMjQ4LjI5MiAzNDUuNDQ5Yy02LjE3NyA2LjE3Mi0xNC4yNzQgOS4yNTctMjIuMzY5IDkuMjU3eiIgZmlsbD0iI2ZmZmZmZiIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9IiIgb3BhY2l0eT0iMSI+PC9wYXRoPjwvZz48L3N2Zz4=);
}

.icon-container {
  /* Set the width and height of the container to match the icon size */
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  color: #FFFFFF;

}

/* Define the spinning animation using @keyframes */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Apply the spinning animation to the icon */
.icon-container i {
  animation: spin 2s linear infinite; /* You can adjust the duration (2s) as needed */
}

#settingsBtn {
  background-color: #7610C6;
  font-size: 20px;
  border-bottom: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#ben {
  background-color: #ff253a;
  color: #FFFFFF;
}

#ani {
  background-color: #00C64F;
  color: #FFFFFF;
}

#sun {
  background-color: #FFA105;
  color: #FFFFFF;
}

#sud {
  background-color: #CA91F6;
  color: #FFFFFF;
}

#tl {
  background-color: #807b7b;
  color: #FFFFFF;
}

#tib {
  background-color: #0500FF;
  color: #FFFFFF;
}

#ash {
  background-color: darkred;
  color: #FFFFFF;
}

.form-control {
  width: 300px;

}

.app-btn {
  color: #ffffff;
  background-color: #7610C6;
  font-family: 'Alata', sans-serif;
  border-color: #7610C6;
  border-radius: 10px;
  font-size: 18px;
}

.app-btn:focus {
  background-color: #7610C6;
}

.circle-left {
  font-size: 30px;
  border: none;
  outline: none;
  background-color: #fff;
  color: #000080;
  padding: 1px;
}

#staticBackdropLabel {
  font-family: 'Alata', sans-serif;
}

.modal-title {
  font-size: 26px !important; /* Set the desired font size */
  margin-bottom: -15px;
  color: #7610C6;
}

.modal-header {
  border-bottom: 2px solid #918989;
}

.modal-footer {
  border-top: none !important;
}

::placeholder {
  font-style: italic;
  font-size: 1em;
  color: #807b7b;
  padding: 5px;
  text-align: center;
}

#modalSearchBar {
  position: relative;
  border-color: #e7e2e2;
  width: 300px;
  border-radius: 15px;
}

.modal-search-icon {
  position: absolute;
  left: 294px;
  top: 27px;
  border: none;
  outline: none;
  background: none;
  font-size: 20px;
}
.card {
  padding: 10px;
  width: 100%;
  height: 100%;
}


.form-group {
  display: flex;
  /*justify-content: space-between;*/
  /*align-items: center;*/
}

.form-group label {
  margin-right: 10px;
}
