<app-header></app-header>
<app-sidebar></app-sidebar>

<div ngClass="container-fluid">
  <section id="companySection">
    <div ngClass="container-fluid">
      <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <i class="fad fa-route map-icon"></i>
            <span id="app">App Settings</span>
          </li>
          <li class="breadcrumb-item active mt-1" id="itemMenu" aria-current="page">
            Company
          </li>
        </ol>
      </nav>
    </div>
    <div ngClass="row container-fluid mt-5">
      <!--      Company Info-->
      <div ngClass="col-4">
        <div class="card custom-card">
          <a href="#" class="card-body mt-3 align-items-center d-flex flex-column">
            <img src="../../assets/company_info_icon.svg" alt="company.png">
            <h4>Company Info</h4>
          </a>
        </div>
      </div>
      <!--      Company Info End-->
      <!--      Work Location-->
      <div ngClass="col-4">
        <div class="card custom-card">
          <a href="#" class="card-body mt-3 align-items-center d-flex flex-column">
            <img src="../../assets/work_location_icon.svg" alt="location.png">
            <h4>Work Location</h4>
          </a>
        </div>
      </div>
      <!--      Work Location End-->
      <!--      Designations-->
      <div ngClass="col-4">
        <div class="card custom-card">
          <a href="#" class="card-body mt-3 align-items-center d-flex flex-column">
            <img src="../../assets/designation_icon.svg" alt="designation.png">
            <h4>Designations</h4>
          </a>
        </div>
      </div>
    </div>
    <!--      Designations End-->
  </section>
</div>
<!--<app-footer></app-footer>-->

