body {
  position: relative;
}

.container-fluid {
  display: flex;
  justify-content: center;
}

section {
  box-shadow: rgba(120, 120, 120, 0.57) 2px 1px 2px 0px;
  background-color: #f3f3f3;
  position: absolute;
  top: 94px;
  left: 300px;
  height: 100vh;
  width: calc(100% - 305px);
  border-radius: 25px;
  margin-right: auto;
}

#items {
  text-align: center;
}

.breadcrumb-nav {
  margin-top: 2em;
  background-color: white;
  padding: 1em;
  border-radius: 10px;
  width: 100%;
  height: 5em;
}

.map-icon {
  color: #ffffff;
  background-color: #7610C6;
  border-radius: 7px;
  padding: 5px;
  font-size: 30px;
}

#app {
  font-family: 'Alata', sans-serif;
  font-size: 23px;
  margin-left: 10px;
}

#itemMenu {
  font-family: 'Alata', sans-serif;
  font-size: 23px;
  color: #7610C6;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: black !important;
}

/*Add Admin btn*/

.my-custom-button-admin {
  color: #FFFFFF;
  background-color: #7610C6;
  border-color: #FFFFFF;
  padding: 7px 17px;
  font-family: 'Alata', sans-serif;
  font-size: 20px;
  margin-right: 10px;
}

.my-custom-button-admin:focus {
  background-color: #000080;
}

hr {
  background-color: #000;
  height: 3px;
  border-radius: 5px;
  margin-left: 20px;
}

/*modal*/

.modal-title {
  font-size: 26px !important; /* Set the desired font size */
  margin-bottom: -15px;
  font-family: 'Alata', sans-serif;
}

.circle-left {
  font-size: 30px;
  border: none;
  outline: none;
  background-color: #fff;
  color: #000080;
  padding: 1px;
}

.modal-header {
  border-bottom: 2px solid #918989;
}

.modal-footer {
  border-top: none !important;
}

.btn-add {
  color: #FFFFFF;
  background-color: #7610C6;
  border-color: #FFFFFF;
  border-radius: 10px;
  font-family: 'Alata', sans-serif;
  width: 100px;
}

.btn-add:focus {
  background-color: #000080;
}

.btn-cancel {
  color: #000000;
  background-color: #F8F8F8;
  border-color: #dbdbdb;
  border-radius: 10px;
  font-family: 'Alata', sans-serif;
  width: 100px;
}

.btn-cancel:focus {
  background-color: #ff0014;
  color: #FFFFFF;
}

.btn-cancel:hover {
  background-color: #ff0014;
  color: #FFFFFF;
}

.title-info h4 {
  font-family: 'Alata', sans-serif;
}

::placeholder {
  font-style: italic;
  font-size: 1em;
  color: #807b7b;
  padding: 5px;
  text-align: center;
}

.my-label {
  color: #3E3E3E;
  font-family: 'Alata', sans-serif;
  font-size: 17px;
}
