<app-header></app-header>
<app-sidebar></app-sidebar>

<div ngClass="container-fluid">

  <section id="groupsSection">

    <div ngClass="container-fluid">
      <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <i class="fad fa-route map-icon"></i>
            <span id="app">App Settings</span>
          </li>
          <li class="breadcrumb-item active mt-1" id="itemMenu" aria-current="page">
            Groups
          </li>
        </ol>
      </nav>
    </div>

  </section>
</div>
<!--<app-footer></app-footer>-->
